# PostgreSQL Configuration (read by UserContextProvider)
POSTGRES_HOST=
POSTGRES_DATABASE=
POSTGRES_USERNAME=
POSTGRES_PASSWORD=
POSTGRES_SCHEMA=

# Server Configuration
server.port=5111

spring.web.resources.static-locations=classpath:/static/images/