<div class="container">
    <table>
        <thead>
            <tr>
                @for (header of headers; track $index) {
                    <th>{{header}}</th>
                }
            </tr>
        </thead>
        <tbody>
            @for (row of data; track $index) {
                <tr>
                    @for (header of headers; track $index) {
                        <th>{{ row[header] }} </th>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
